html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  padding: 0px 20px;
}
a {
  color: #a44141;
}
a:hover {
  color: #c47d7d;
}

/* Layout */
header {
  padding: 0px 0px;
}
footer {
  border-top: solid 2px #eee;
  padding: 10px 3px;
  margin-top: 40px;
}
h1 {
}
h2 {
  color: #666;
}
h3 {
  color: #888;
  font-size: 14px;
}
.clear {
  clear: both;
}
/* Navigation */
nav#menu {
  height: 22px;
  padding: 10px 3px;
  border-top: solid 2px #eee;
  border-bottom: solid 2px #eee;
}
nav#menu ul {
  margin: 0px;
  padding: 0px;
}
nav#menu ul li {
  display: block;
  float: left;
  margin-right: 15px;
}

/* Articles */
ul.article-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
ul.article-list li {
  display: block;
  float: left;
  margin-right: 25px;
}
ul.article-list li a {
  display: block;
  float: left;
  width: 200px;
  opacity: 0.9;
}
ul.article-list li a:hover {
  opacity: 1;
}
ul.article-list li a img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 5px;
}

/* Pagination */
.pagination {
  margin-top: 25px;
}

/* Comments */
#comments {
  margin-top: 30px;
}
#comment_form {
  margin-top: 30px;
}
#comment_form input,
#comment_form select {
  width: 300px;
}
#comment_form textarea {
  width: 400px;
  height: 100px;
}
#comment_form p {
  margin: 12px 0px;
}
#comment_form p label {
  display: block;
  margin-bottom: 6px;
}
